<section>
  <div class="section-1">
    <video
    #Video
    width="100%"
    [autoplay]="true"
    [muted]="true"
    preload="metadata">
    <source src="assets/projects/Laquinta(2).m4v" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="content-1">
    <h2 data-aos="zoom-in-down"
    data-aos-easing="linear"
    data-aos-duration="1000">
      La quinta
      Projects
    </h2>
    <i class="bounce-in-top fa-solid fa-down-long"></i>
  </div>
      </div>
      <div class="section-2 container">
        @for (project of allproject; track $index) {
          <div class="card shadow-sm " (click)="veiwproject(project.name)">
            <img [src]="project.src" alt="">
            <div class="content">
                        <div class="title">
             <h3>{{project.title}}</h3>
             <span>Hurghada,Egypt</span>
            </div>
            <div class="details">
             <div class="info">
              <span>Stauts :</span>
              <p>{{project.statue}}</p>
             </div>
             <div class="hr"></div>
             <div class="info">
              <span>Area :</span>
              <p>{{project.area}}</p>
             </div>
             <div class="hr"></div>
             <div class="info">
              <span>type :</span>
              <p>{{project.type}}</p>
             </div>

            </div>

            </div>
          </div>


        }
      </div>
      <div></div>
</section>
