<div class="slider-container">
  <div
    class="slider"
    *ngFor="let slide of slides; let i = index; "
    [@slideAnimation]="currentSlide === i ? 'active' : 'inactive'"
    (click)="nextSlide() "
  >
    <img (click)="$event.stopPropagation()" [src]="slide.image" alt="Slide {{ i + 1 }}" class="slide-image" />
    <div class="slide-content" (click)="$event.stopPropagation()">
      <div class="left-box">
    <div class="hr"></div>
    <div class="icon"> <a href="https://www.facebook.com/LaQuintaGroupEgy" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </div>
    <div class="icon"> <a href="https://instagram.com/la_quinta_group_egy?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa-brands fa-instagram"></i></a>

      </div>
    </div>
    <div class="content-1 aos-wrapper" *ngIf="slide.number ==='3'">
     <div class="box ">
      <span data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-duration="1500">your next</span>
      <span data-aos="fade-right" data-aos-easing="ease-in-sine"     data-aos-delay="500"  data-aos-duration="1500">inspiring</span>
      <span data-aos="fade-right" data-aos-easing="ease-in-sine"  data-aos-delay="1000"  data-aos-duration="1500">community</span>
     </div>
     <div class="button " data-aos="fade-right" data-aos-easing="linear"  data-aos-delay="2000"  data-aos-duration="1500">
      <button type="button" class="btn btn-outline-warning" (click)="veiwproject('La-Quinta-Heights')" >view project
        <i class="icon fa-solid fa-arrow-right-long "></i>
      </button>
     </div>

    </div>
    <div class="content-1 aos-wrapper"*ngIf="slide.number ==='1'">
     <div class="box ">
      <p data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-duration="1500">a new era</p>
      <p data-aos="fade-right" data-aos-easing="ease-in-sine"     data-aos-delay="500"  data-aos-duration="1500">of red sea</p>
      <p data-aos="fade-right" data-aos-easing="ease-in-sine"  data-aos-delay="1000"  data-aos-duration="1500">development</p>
     </div>
     <div class="button " data-aos="fade-right" data-aos-easing="linear"  data-aos-delay="2000"  data-aos-duration="1500">
      <button type="button" class="btn btn-outline-warning" [routerLink]="['/About-Us']" routerLinkActive="router-link-active">find more
        <i class="icon fa-solid fa-arrow-right-long "></i>
      </button>
     </div>
    </div>
    <div class="content-1 aos-wrapper"*ngIf="slide.number ==='4'">
      <div class="box ">
       <p data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-duration="1500">your panoramic</p>
       <span data-aos="fade-right" data-aos-easing="ease-in-sine"  data-aos-delay="1000"  data-aos-duration="1500">sea veiw apartment</span>

      </div>
      <div class="button " data-aos="fade-right" data-aos-easing="linear"  data-aos-delay="2000"  data-aos-duration="1500">
        <button type="button" class="btn btn-outline-warning" (click)="veiwproject('La-Quinta-Beach')">view project
          <i class="icon fa-solid fa-arrow-right-long "></i>
        </button>
       </div>

     </div>
     <div class="content-1"*ngIf="slide.number ==='2'">
      <div class="box aos-wrapper">
       <div class="slid-2" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300" data-aos-duration="1500">stay tuned!</div>
      </div>
     </div>


  </div>
  <a class="aos-wrapper" href="tel:+201205285555" (click)="$event.stopPropagation()">
     <div class="call-us " data-aos="fade-up" data-aos-easing="ease-in-cubic" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" (click)="callUs()">
    <div class="icon">
      <i class="fa-solid fa-phone-volume"></i>
    </div>
    <div class="details">
      <div class="d1">call us now</div>
      <div class="d2">(+2) 0120 528 5555</div>
    </div>
  </div>
</a>

</div>
