<section class="container-fluid" [class.hidden]="isScrollingDown">
  <div class="left-box" >
<div class="test">
    <div class="box" data-aos="fade-right">
<img   src="assets/logo/Laquinta-logo-white-1.png" alt="">
    </div>

</div>
  </div>
  <div class="right-box">
    <div class="up-box" >
  <div class="box-1" >
     <span>Contact: </span>
     <span>(+2) 0120 5285 555</span>
    </div>
    <div class="box-2">
    <div class="icon">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
    </div>
    <div class="icon">
      <a href=""> <i class="fa-brands fa-instagram"></i>      </a>
    </div>
    <div class="icon">
      <a href=""> <i class="fa-brands fa-whatsapp"></i></a>    </div>
    </div>
    </div>
    <div class="hr"> </div>
    <div class="down-box">
    <div class="headers">
      <a href="">Home</a>
      <a href="">About us</a>
      <a href="">Projects</a>
      <a href="">Insights</a>
      <a href="">Contact</a>

    </div>
    </div>


  </div>

</section>

<div class="fixed-nav container-fluid" *ngIf="isScrollingDown" [class.hide-on-top]="isAtTop">
  <div class="left-box" >
<div class="test">
    <div class="box" data-aos="fade-right">
<img   src="assets/logo/Laquinta-logo-white-1.png" alt="">
    </div>

</div>
  </div>
  <div class="right-box">

    <div class="down-box">
    <div class="headers">
      <a href="">Home</a>
      <a href="">About us</a>
      <a href="">Projects</a>
      <a href="">Insights</a>
      <a href="">Contact</a>

    </div>
    </div>


  </div>

</div>

<!-- moible header -->
<div class="mobile-nav"  >
  <div class="image" data-aos="fade-right">
    <img   src="assets/logo/Laquinta-logo-white-1.png" alt="">
  </div>

</div>
