section
{
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1)  ;
  display: flex;
  .left-box{
    width: 41.66666667%;
    padding: 40px 0px 0px;
    .test{
        height:140px ;
  width: 28%;
  position: absolute;
  -webkit-transform:skewX(-34deg);
  transform: skewX(-34deg);
  background-color: #795EA9;
  top: 0;
  left: -5%;
      .box{
        padding: 40px 0px 0px;
        display: flex;
        justify-content: end;

    img{

      transform: skewX(34deg);
      width: 50%;
    }
  }


    }
  }
  .right-box{
    width: 58.33333333%;
    padding: 0px 15px;
    .up-box{
      display: flex;
      justify-content: space-between;
      padding: 16px 0px;

      .box-1{
        span{
          color: #ffff;
          font-family: sans-serif;
        }
      }

    .box-2{
      display: flex;
      gap: 20px;
      .icon{
        a{
          color: rgb(255, 255, 255);
          font-size: 18px;
          transition: color .3s linear;
          &:hover{
            color: #DBB996;
          }

        }


      }
    }
  }
  .hr {
    height: 1px;
    opacity: 0.5;
    background: #ffffff;
}
.down-box{
  padding: 16px 0px;
  .headers{
    display: flex;
    gap: 20px;
    a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: color .3s linear;
    &:hover{
      color: #DBB996;
    }

    }
  }

}

  }
  transition: transform 1s ease-in-out;
  &.hidden {
    transform: translateY(-100%);
  }


}

.fixed-nav
{
  position: fixed;
  z-index: 100;
  background-color: #ffffff  ;
  display: flex;
  box-shadow: 0 4px 6px rgba(139, 8, 204, 0.1); /* Adjust values for the desired shadow effect */
  .left-box{
    width: 41.66666667%;
    padding: 40px 0px 0px;
    .test{
  width: 28%;
  position: absolute;
  -webkit-transform:skewX(-34deg);
  transform: skewX(-34deg);
  background-color: #795EA9;
  top: 0;
  left: -5%;
      .box{
        padding: 5px 18px 10px 0px;
        display: flex;
        justify-content: end;

    img{

      transform: skewX(34deg);
      width: 50%;
    }
  }


    }
  }
  .right-box{
    width: 58.33333333%;
    padding: 0px 15px;

.down-box{
  padding: 16px 0px;
  .headers{
    display: flex;
    gap: 20px;
    a{
    text-decoration: none;
    color: #795EA9;
    font-weight: 600;
    &:hover{
      color: #DBB996;
    }
    }
  }

}

  }
  &:hover{
    box-shadow: 0 6px 10px rgba(155, 38, 222, 0.15); /* Slightly darker and bigger shadow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */

  }
  &.hide-on-top {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

}
.mobile-nav{
  display: none;
}
@media (max-width: 650px) {
  section{
    display: none;
  }
  .fixed-nav{
    display: none;
  }
  .mobile-nav{
    display: flex !important;
    background-color: #144a99c7;
    .image{
      padding: 10px;
      img{
        width: 45%;
      }
    }
  }
}
