<section class="container-fluid" [class.hidden]="isScrollingDown">
  <div class="left-box" >
<div class="test">
    <div class="box" data-aos="fade-right">
<img   src="assets/logo/Laquinta-logo-white-1.png" alt="">
    </div>

</div>
  </div>
  <div class="right-box">
    <div class="up-box" >
  <div class="box-1" >
     <span>Contact: </span>
     <span>(+2) 0120 5285 555</span>
    </div>
    <div class="box-2">
    <div class="icon">
      <a href="https://www.facebook.com/LaQuintaGroupEgy" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </div>
    <div class="icon">
      <a href="https://instagram.com/la_quinta_group_egy?igshid=MzRlODBiNWFlZA==" target="_blank"> <i class="fa-brands fa-instagram"></i>      </a>
    </div>
    <div class="icon">
      <a [href]="getWhatsAppLink()" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-whatsapp"></i></a>    </div>
    </div>
    </div>
    <div class="hr"> </div>
    <div class="down-box">
    <div class="headers">
      <a [routerLink]="['/Home']" routerLinkActive="router-link-active">Home</a>
      <a [routerLink]="['/Projects']" routerLinkActive="router-link-active" >Projects</a>
      <a [routerLink]="['/About-Us']" routerLinkActive="router-link-active">About us</a>
      <a [routerLink]="['/Contact']" routerLinkActive="router-link-active">Contact</a>
      <a href="">Insights</a>


    </div>
    </div>


  </div>

</section>

<div class="fixed-nav container-fluid" *ngIf="isScrollingDown" [class.hide-on-top]="isAtTop">
  <div class="left-box" >
<div class="test">
    <div class="box" data-aos="fade-right">
<img   src="assets/logo/Laquinta-logo-white-1.png" alt="">
    </div>

</div>
  </div>
  <div class="right-box">

    <div class="down-box">
    <div class="headers">
      <a [routerLink]="['/Home']" routerLinkActive="router-link-active">Home</a>
      <a [routerLink]="['/Projects']" routerLinkActive="router-link-active" >Projects</a>
      <a [routerLink]="['/About-Us']" routerLinkActive="router-link-active">About us</a>
      <a [routerLink]="['/Contact']" routerLinkActive="router-link-active">Contact</a>
      <a href="">Insights</a>

    </div>
    </div>


  </div>

</div>

<!-- moible header -->
<div class="mobile-nav"  >
  <div class="image" data-aos="fade-right">
    <img   src="assets/logo/Laquinta-logo-white-1.png" alt="">
  </div>

</div>
