section
{
.header{
  background: linear-gradient(0deg,rgba(23, 62, 98, 0.4),rgba(23, 62, 98, 0.4)),url(/assets/Home/La-Quinta-Home1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
  color: #fff;
  font-size: 60px;
  margin: 15px 0px 0px;
  }

}
.section-1{
  background-color: #FFFFFF;
  padding: 40px 0px 40px;
  .box-1{
    display: flex;
    justify-content: center;
    h3{
      font-weight: 400;
      font-size: 2.66667rem;
      color: #795EA9;
      padding: 40px 0px 55px ;

    }
  }
  .box-2{
    display: flex;
    .content-1{
      width: 38%;
      padding: 0px 15px 0px 0px;
    }
    .content-2{
      width: 38%;
      padding: 0px 15px;
      .type1{
        font-weight: 600;
        font-size: 15px;
        line-height: 2;
        color: #66717A;
      }
      .type2{
      color: #66717A;
      font-size: 15px;
      line-height: 2;

      }
    }
    .content-3{
      width: 25%;
      padding-left: 25px;
      ul{
        padding: 0px;
      list-style-type: none;
      li{
        display: flex;
        justify-content: space-between;
        padding: 8px 0px;
        margin-bottom: 5px;
        .title{
          font-size: 13px;
          font-weight: 600;
          color: #000;
        }
        .title2{
        font-size: 13px;
        color: #66717A;
        }
      }
      }

    }

  }
}

.section-2{
  background-color: rgb(247,242,236);
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 30px;
    h2{
      font-size: 40px;
      color: #795EA9;
    }
    p{
      font-size: 15px;
      color: #66717A;

    }
    .up-elements{
     display: flex;
     width: 100%;
     flex-wrap: wrap;
   
      .element{
        display: flex;
        flex: 30%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 60px;
        position: relative;

        &:hover{
          .icon{
            transform: scale(1.2) rotate(10deg); // Scale up and rotate icon
            transition: transform 0.3s ease; // Smooth transition for transform
                }
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Add box shadow on hover
          border-radius: 15px; // Increase radius on hover (optional)

        }
      .icon{
        width: 80px;
        height: 80px;
        transition: transform 0.3s ease; // Transition for smooth animation
      }
      .textt{
      font-size: 15px;
      font-weight: 500;
      }
      }
    }
  }
}
.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-weight: 400;
    font-size: 2.66667rem;
    color: #795EA9;
    padding: 40px 0px 55px ;

  }
  .first-box{
    padding: 20px;
    overflow: hidden;
  .box-img{
    position: relative;
border: 0px;

    &::before{
      position: absolute;
      border: 2px solid #ebeef5;
      border-radius: 5px;
      content: "";
      width: 100%;
      height: 100%;
      top: -20px;
      left: -21px;
      z-index: -1;
      transition: all 0.3s ease; // Adds animation



    }
    &:hover::before {
      border-color: #DBB996; // Optional: Change color on hover
    }

.content{
position: relative;
  &::before{
position: absolute;
content: "";
background-color: #ebeef5;
border-radius: 50%;
width: 100%;
height: 100%;
top: -91px;
left: -162px;
z-index: -2;
transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease; // Smooth transition
transform: translate(-50%, -50%); // Center the circle

  }
}

&:hover .content{
  // background-color: #795EA9;
  &::before{
  background-color: #795EA9;
  width: 100%; // Expand the circle to cover the area
  height: 100%; // Expand the circle to cover the area
  top: 20%; // Keep it centered
  left: 20%; // Keep it centered.
  transform: translate(-50%, -50%); // Ensure it remains centered during expansion

  }
}
  }
}
}
.section-3{
  background-color: #F7F2EC;
  padding-bottom: 50px;
  .box{
    display: flex;
  flex-direction: column;
  align-items: center;
   h2{
    font-weight: 400;
    font-size: 2.66667rem;
    color: #795EA9;
    padding: 40px 0px 55px ;
   }
   .big-box{
    display: flex;
    justify-content: space-between;
   .map{
width: 49%;
   }
   .adress{
    width: 48%;
    background-color: #fff;
    padding: 80px 70px;
    h2{
      font-size: 24px;
      padding: 10px 0px;
    }
    .pra{
      font-size: 15px;
      color: #66717A;
      line-height: 2;
    }
    p{
      font-size: 15px;
      color: #66717A;
      line-height: 2;
    }
   }
  }
  }
}
}

.header::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  background-color: rgba(0,0,0,.3);

}

ul::before{
  content: "";
  width: 1px;
  height: 18%;
  background-color: #e1e1e1;
  position: absolute;
  margin-top: 9px;
  margin-left: -15px;
}
