/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/aos/dist/aos.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'DMSerifDisplay';
  src: url('/assets/Fonts/DMSerifDisplay-Regular.ttf') ;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('/assets/Fonts/BeVietnamPro-Light.ttf') ;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro-regular';
  src: url('/assets/Fonts/BeVietnamPro-Regular.ttf') ;
  font-weight: normal;
  font-style: normal;
}




h1,h2,h3,h4,h5,h6 {
  font-family:DMSerifDisplay;
}
html,body{
  font-family: BeVietnamPro;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(44, 44, 44);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid ;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

// animation
.move-up-bootom {
	animation: move-up-bootom 3s linear infinite both;
}
 @keyframes move-up-bootom {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

