section {
  font-family: DMSerifDisplay;
  display: flex;
  flex-direction: column;
  gap: 130px;

  .who-we-are {
    padding: 130px 0px 0px;
    background-image: url("https://mohamedibrahem4.github.io/LaquintaGroup/assets/Index/h5_img8.png");

    background-repeat: no-repeat;
    // background-size: cover;
    background-position: top left;
    position: relative;
    overflow: hidden;

    .section-1 {
      display: flex;
      flex-direction: column;
      gap: 80px;

      .small-box {
        display: flex;
        flex-direction: column;
        gap: 25px;

        span {
          font-size: 0.8em;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: #ccaf89;
        }

        div h2 {
          font-size: 2.7em;
          color: #795ea9;
        }
      }

      .big-box {
        display: flex;
        align-items: start;
        background-color: #f9f7f7;
        gap: 80px;

        .img-1 {
          width: 30%;

          img {
            object-fit: cover;
            max-width: 40vw;
            height: 640px;
            position: relative;
            left: -15vw;
          }
        }

        .img-2 img {
          position: absolute;
          max-width: 28vw;
          right: -7vw;
          top: 130px;
          object-fit: cover;
          height: 650px;
        }

        .content {
          width: 35%;
          display: flex;
          flex-direction: column;
          padding-top: 70px;
          gap: 30px;

          .content-1 {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h2 {
              font-size: 1.8em;
              color: #795ea9;
            }

            P {
              font-family: BeVietnamPro;
              color: #66717a;
              line-height: 2;
              font-size: 15px;
            }
          }

          .button {
            button {
              position: relative;
              /* Ensures icon moves relative to the button */
              font-family: BeVietnamPro;
              min-width: 40px;
              min-height: 40px;
              background-color: #ccaf89;
              border-color: #ccaf89;
              color: #ffff;
              text-transform: uppercase;
              font-size: 10px;
              font-weight: 600;
              padding: 15px 50px;
              transition: 0.3s linear;
              border-radius: 10px;
              letter-spacing: 1px;

              .icon {
                transition: transform 0.3s ease;
                /* Smooth transition */
                margin-left: 2px;
                /* Space between text and icon */
              }

              &:hover {
                color: #ffff;
                background-color: #b49975;

                .icon {
                  transform: translateX(5px);
                  /* Adjust distance as needed */
                }
              }
            }
          }
        }
      }
    }
  }

  .section-2 {
    .content-1 {
      display: flex;
      flex-direction: column;
      gap: 25px;

      span {
        font-size: 0.8em;
        color: #ccaf89;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 2.7em;
          color: #795ea9;
          text-transform: uppercase;
        }

        div {
          display: flex;
          transition: all 0.5s linear;
          /* Smooth transition */

          a {
            display: flex;
            align-items: center;
            gap: 3px;
            text-decoration: none;
            border-bottom: 2px solid #ccaf89;
            border-spacing: 1px;
            padding-bottom: 2px;
            transition: all 0.5s linear;
            /* Smooth transition */

            i {
              color: #ccaf89;
              font-size: 0.8em;
              transition: all 0.5s linear;
              /* Smooth transition */
            }
          }

          &:hover {
            a {
              border-color: #795ea9;

              span {
                color: #795ea9;
              }

              .icon {
                transform: translateX(5px);
                /* Adjust distance as needed */
                color: #795ea9;
              }
            }
          }
        }
      }

      .projects {
        display: flex;
        gap: 20px;

        .img-box {
          width: 33%;
          overflow: hidden;
          object-fit: cover;
          position: relative;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); // Example shadow

          img {
            min-height: 72vh;
            max-width: 35vw;
            object-fit: cover;
            z-index: 2;
          }

          .content-box {
            position: absolute;
            z-index: 1;
            bottom: 0;
            padding: 30px 40px;

            h2 {
              font-size: 1.5em;

              a {
                text-decoration: none;
                color: #ffff;
              }
            }

            p {
              font-family: BeVietnamPro;
              color: #ffff;
            }
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent, rgba(68, 27, 115, 0.75));
            position: absolute;
            z-index: 1;
          }

          &:hover {
            img {
              -webkit-animation: kenburns-top 2s ease-out both;
              animation: kenburns-top 2s ease-out both;
            }

            .content-box {
              h2 {
                a {
                  color: #ccaf89;
                }
              }

              p {
                color: #ccaf89;
              }
            }
          }
        }
      }
    }
  }

  .section-3 {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .title {
      display: flex;
      flex-direction: column;
      gap: 25px;

      span {
        font-size: 0.8em;
        color: #ccaf89;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      h2 {
        font-size: 2.7em;
        color: #795ea9;
        text-transform: uppercase;
      }
    }

    .big-box {
      display: flex;
      align-items: start;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Adds shadow to both boxes
      background-color: #f9f7f7;
      padding: 0px;
      gap: 30px;
      position: relative;
      z-index: 1;
      overflow: hidden;

      .image {
        position: relative;
        z-index: 2;

        img {
          max-width: 50vw;
        }
      }

      .left-box {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        gap: 50px;
        width: 45%;

        .content {
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: start;
          padding-right: 30px;
          position: relative;
          z-index: 1;
          min-height: 40vh;

       ::ng-deep .svg {
            width: 4em;
            height: 4em;
            display: block;
            position: relative;

            svg{
              stroke-width: 2;
              fill: none;
              stroke: #ccaf89;
              stroke-miterlimit: 10;
              path{
              stroke-width: 2;
              fill: none;
              stroke: #ccaf89;
              stroke-miterlimit: 10;
              }

            }
          }

          h3 {
            font-size: 2em;
            text-transform: uppercase;
            color: #795ea9;
          }

          p {
            color: #66717a;
            font-family: BeVietnamPro;
            font-size: 0.9em;
            line-height: 1.8;
          }
        }

        .btn {
          display: flex;
          gap: 8px;
          padding: 0px;
          border: 0px;

          button {
            width: 50px;
            height: 50px;
            border: 1px solid #e1e1e1;
            border-radius: 3px;
            background: #fff;
            transition: all 0.3s ease-in;

            &:hover {
              background: #ccaf89;

              i {
                color: #fff;
              }
            }

            i {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@media (max-width: 650px) {
section{
  font-size: 70%;
gap: 60px;
  .who-we-are{
    padding: 70px 0px 0px;
   .section-1{
    gap: 40px;
.big-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  .img-1{
    width: 100%;
    img{
      max-width: 100%;
      left: 0;
      height: 100%;
    }

  }
  .img-2 {
    display: none;
  }
  .content{
    width: 100%;
    padding: 15px;
    align-items: center;
    gap: 10px;
    .content-1{
      gap: 15px;
      h2{
        font-size: 3em;
      }
    }
    .button{
      button{
        min-height: 30px;
        min-width: 30px;
        padding: 15px 25px;
      }
    }
  }
}
   }
  }
  .section-2{
    .content-1{
      .title{
        display: flex;
        flex-direction: column;
      }

      .projects{
        gap: 10px;
        display: flex;
        flex-direction: column;
        .img-box{
          width: 100%;
          img{
            min-height: 40vh;
            max-width: 100%;
          }
          .content-box{
            padding: 20px;
          }
        }
      }
    }
  }
  .section-3{
    .title{
      h2{
        font-size: 2.6em;
      }
    }
    .big-box{
      display: flex;
      flex-direction: column;

      .image{
        img{
          max-width: 100%;
        }
      }
      .left-box{
        padding-top: 5px;
        width: 100%;
        gap: 0px;
        .content{
          min-height: 30vh;
          padding: 20px;
          p{
            font-size: 1.3em;
          }
        }
        .btn{
          display: flex;
          justify-content: center;
          padding: 15px;
        }
      }
    }
  }
}

}
