<footer>
  <div class="box container">
  <div class="up-box">
  <div class="img"><img src="assets/logo/Laquinta-logo-white-1.png" alt="img"></div>
  <div class="content-1">
    <h2>Company info</h2>
    <div class="elements">
      <ul>
        <li>
          <a href="">About Us</a>
        </li>
        <li>
          <a href="">Contact Us</a>
        </li>
        <li>
          <a [routerLink]="['/Projects']" routerLinkActive="router-link-active">Projects</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="content-1 tab-resbosive-1">
    <h2>Follow Us</h2>
    <div class="elements">
      <ul>
        <li>
          <a href="https://www.facebook.com/LaQuintaGroupEgy" target="_blank">Facebook</a>
        </li>
        <li>
          <a href="https://instagram.com/la_quinta_group_egy?igshid=MzRlODBiNWFlZA==" target="_blank">Instagram</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="content-1 tab-resbosive-2">
    <h2>GET IN TOUCH</h2>
    <div class="box">
     <span>
      Nile Plus Compound, Tourist Center, Bowling Street, Hurghada, Red Sea, Egypt
    </span>
    <div class="box-3" >
      <a href="tel:+201205285555">
        <div class="cont-2">
          <i class="pi pi-phone"></i>
          <span>(+2) 0120 5285 555</span>
        </div>
      </a>
       <a href="mailto:laquinta-groupegy.com" >
        <div class="cont-2 tab-icon">
          <i class="fa-regular fa-envelope"></i>
          <span>Info&#64;laquinta-groupegy.com</span>
        </div>
      </a>
    </div>
    </div>

  </div>
</div>
<div class="hr"></div>
<div class="bottom-box">
  <div>
    <p>
      © 2024 –
      <a href="">La Quinta</a>
      . All rights reserved.
    </p>
  </div>
  <div>
    <p>
         Carefully crafted by <a href="https://www.linkedin.com/in/mohamed-ibrahem-9510b7256">Eng-Mohamed Ibrahem</a>
    </p>
  </div>
</div>
  </div>
</footer>
