section{
  display: flex;
  flex-direction: column;
  gap: 130px;


  .header{
    background-image: url(/assets/information/contact/la-quinta-contact-us-.jpg);
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
      padding-top: 60px;
      font-size: 4em;
      color: #fff;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    h5{
      color: #fff;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    }

  }
  .section-1{
    display: flex;
    justify-content: space-between;
    .left-box{
      display: flex;
      flex-direction: column;
      gap: 30px;
      width:33%;
      .title{
        display: flex;
        flex-direction: column;
        gap: 25px;
        span{
          color: #ccaf89;
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-family: DMSerifDisplay;
        }
        h2{
          font-size: 2.6em;
          text-transform: uppercase;
          color: #795ea9;
        }

      }
      .content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2{
          color: #795ea9;
        }
        .adress{
          ul{
            list-style: none;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li{
              display: flex;
              align-items: center;
              gap: 20px;
              transition: all .3s linear;
              &:hover{
                color: #ccaf89;
              }

              span{
                color: #66717a;
                font-size: 15px;
                transition: all 0.3s linear;
                &:hover{
                  color: #ccaf89;
                }

              }
              i{
                font-size: 14px;
              }
              a{
                display: flex;
                align-items: center;
                gap: 20px;
                text-decoration: none;
                transition: all 0.3s linear;
                &:hover{
                  i{
                      color: #ccaf89;
                  }
                }

                i{
                  color: black;

                }
              }
            }

          }
        }
      }
    }
    .right-box{
     width: 56%;
     position: relative;
     z-index: 1;
     .image{
      img{
        width: 50vw;
      }
     }
     i{
      position: absolute;
      z-index: 2;
      top: 49%;
      left: 59%;
      color: #ccaf89;
      cursor: pointer;
     }
    }
  }
  .section-2{
    padding: 70px 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .title{
      display: flex;
      flex-direction: column;
      gap: 30px;
      span{
        color: #ccaf89;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: DMSerifDisplay;
      }
      h2{
        font-size: 2.6em;
        text-transform: uppercase;
        color: #795ea9;
      }


    }
    form{
      display: flex;
      flex-direction: column;
      gap: 30px;
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        input {
            height: 55px;
            border-radius: 6px;
            border: 0.75px solid #d0d5dd;
            background: var(--Base-On-Background, #fff);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            outline: none !important;
            width: 100%;

            &:focus {
                border: 0.75px solid #ccaf89 !important;
            }
        }
        small {
            font-size: 11px !important;
            font-style: normal;
            font-weight: 400;
            position: absolute;
            bottom: -18px;
            left: 4px;
        }

        .p-inputtextarea{
          width: 100%;
          &:hover{
            border-color:#d0d5dd;
          }
          &:focus{
             border: 0.75px solid #ccaf89 !important;
            outline: none !important;
            box-shadow: none !important;

          }
        }
      }
      .button {
        button {
          position: relative;
          /* Ensures icon moves relative to the button */
          font-family: BeVietnamPro;
          min-width: 160px;
          min-height: 50px;
          background-color: #ccaf89;
          border-color: #ccaf89;
          color: #ffff;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 600;
          // padding: 15px 50px;
          transition: 0.3s linear;
          border-radius: 5px;
          letter-spacing: 1px;

          .icon {
            transition: transform 0.3s ease;
            /* Smooth transition */
            margin-left: 2px;
            /* Space between text and icon */
          }

          &:hover {
            color: #ffff;
            background-color: #b49975;

            .icon {
              transform: translateX(5px);
              /* Adjust distance as needed */
            }
          }
        }
      }
    }
  }
}
::ng-deep .p-tooltip  {
  background-color: #ccaf89; /* Change background color */
  color: #fff;           /* Change text color */
  font-size: 14px;       /* Adjust font size */
}
 ::ng-deep .p-tooltip .p-tooltip-text {
  background-color: #ccaf89; /* Adjust arrow color */
}
input.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

input.ng-valid {
  border: 1px solid green !important;
}
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@media (max-width: 650px) {
  section{

    .section-1{
      display: flex;
      flex-direction: column;
      .left-box{
        width: 100%;
        .title{
          align-items: center;
          h2{
            font-size: 2em;
          }
        }
      }
      .right-box{
        display: none;
      }
    }

    .section-2{
      padding: 70px 15px 40px;

    }

  }
}

@media (min-width: 650px) and (max-width: 1024px){
  section{
    .section-1{
      width: 100% !important;
      padding: 0px 14px !important;
      &.container{
        padding: 0px;
        margin: 0px;
        max-width: none;
      }
      .left-box{
         width: 42%;
      }
      .right-box{
        display: flex;
        align-items: center;
        i{
          left: 51%;
        }
      }
    }
    .section-2{
      .title{
        h2{
          font-size: 2.4em;
        }
      }
    }
  }
}
