<section>
  <div class="header">
  <h1 class="tracking-in-contract">
    Contact us
  </h1>
  <h5 class="move-up-bootom">La Quinta Group</h5>
</div>
<div class="section-1 container">
<div class="left-box">
  <div class="title">
<span>get in touch</span>
<h2>Our Office Location</h2>
  </div>
  <div class="content">
<h2>
  Head Office
</h2>
<div class="adress">
<ul>
  <li>
    <i class="fa-regular fa-map"></i>
    <span>Nile Plus Compound, Tourist Center, Bowling Street, Hurghada. Red Sea, Egypt</span>
  </li>
  <li>
    <a href="mailto:info@laquinta-groupegy.com">
      <i class="fa-regular fa-envelope"></i>
      <span>info&#64;laquinta-groupegy.com</span>
    </a>
  </li>
  <li>
    <a href="tel:+201205285555">
      <i class="fa-solid fa-phone"></i>
      <span>+201205285555</span>
    </a>
  </li>
  <li>
    <i class="fa-regular fa-clock"></i>
    <span>Saturday to Thursday, 10 am to 4 pm </span>
  </li>
</ul>
</div>
  </div>

</div>
<div class="right-box">
<div class="image">
  <img src="assets/information/contact/La-Quinta-Contact-us-map-928-X-522.png" alt="description" loading="lazy">
</div>
<i class="fa-solid fa-circle-dot"  pTooltip="Hurghada. Red Sea, Egypt" tooltipPosition="top"></i>
</div>
</div>

<div class="section-2 container shadow">
  <div class="title">
    <span>leave a message</span>
    <h2>WE ARE GLAD TO CONSULT YOU</h2>
    </div>
      <form [formGroup]="MailForm" id="MailForm" (ngSubmit)="Sendmail()">
        <div class="form-group" >

          <input type="text" formControlName="Name" class="form-control"
          placeholder="Your Name"
          name="Name"
          />
          <small
          class="text-danger d-block"
          *ngIf="name?.invalid && name?.touched"
          >write your name</small
      >
      </div>

    <div class="form-group">

      <input type="text" formControlName="PhoneNumber" class="form-control"
      placeholder="Your Phone Number"
      name="PhoneNumber"

      />
      <small
      class="text-danger d-block"
      *ngIf="phonenumber?.invalid && phonenumber?.touched"
      >write your Phone Number</small
  >
  </div>
  <div class="form-group">

    <input type="text" formControlName="Subject" class="form-control"
    placeholder="Subject"
    name="Subject"

    />
    <small
    class="text-danger d-block"
    *ngIf="subject?.invalid && subject?.touched"
    >please write Subject</small
>
</div>
<div class="form-group">

  <textarea
  rows="5"
  pInputTextarea
  formControlName="Message" placeholder="Message" name="Message">

</textarea>
<small
  class="text-danger d-block"
  *ngIf="message?.invalid && message?.touched"
  >write Your message</small
>
</div>
<div class="button"  >
  <button type="button" class="btn btn-outline-warning" [disabled]="MailForm.invalid || SpinerFlag" (click)="Sendmail()">
    @if (SpinerFlag==true) {
      <i class="pi pi-spin pi-spinner" style="font-size: 1.2rem"></i>
    }@else {
      Submit
      <i class="icon fa-solid fa-arrow-right-long"></i>
    }
  </button>
</div>
<p-toast position="bottom-left" key="Su" />
<p-toast position="bottom-left" key="Wr" />


      </form>

</div>
<div></div>
</section>
